@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Vidaloka&display=swap");

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: "Vidaloka";
  background-image: url("./img/library-background.jpg");
  background-size: cover;
  color: white;
  text-shadow: 1px 1px black;
}

h2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

.app {
  background-color: rgba(0, 88, 7, 0.74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.514);
}

.todo-form {
  border: 1px solid rgba(0, 0, 0, 0.377);
  display: flex;
}

.input-text {
  flex-grow: 2;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color: rgba(238, 238, 238, 0.863);
  border: 0px;
  outline: none;
}

.button {
  background-color: rgba(33, 122, 55, 0.849);
  border: 0px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.task-list {
  margin: 0px 2rem;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px;
}

li {
  heiht: 200px;
  width: 175px;
  padding: 5px 0px;
  border-radius: 3%;
  background-color: rgba(33, 122, 55, 0.849);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  box-shadow: 1.5px 1.5px black;
}

li img {
  height: 150px;
  width: 150px;
  border-radius: 2%;
}
