.Home {
  background-color: #eee3cb;
  box-sizing: border-box;
  color: rgb(89, 89, 89);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
