@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap");

body {
  margin: 0px;
  padding: 0px;
}
.App {
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(149, 32, 178);
  height: 100vh;
  width: 100vw;
  color: yellow;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.425);
}

.App__advice-use-state {
  width: fit-content;
  box-sizing: border-box;
}

.App__advice-use-reducer {
  width: fit-content;
  box-sizing: border-box;
}
