@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(142, 142, 145, 0.747);
  font-family: "Edu QLD Beginner", cursive;
}

h2 {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-grow: 2;
}

.input {
  border-radius: 1%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.363);
  background-color: rgba(238, 229, 107, 0.774);
  padding: 20px 10px 100px 10px;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-text {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border: 0px;
  padding: 5px;
  background-color: rgba(114, 112, 112, 0.336);
}

.button {
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  border: 0px;
  padding: 5px;
  background-color: rgba(32, 104, 117, 0.781);
}

.input-text:focus::placeholder {
  color: transparent;
}

.input-text:focus {
  outline: none;
}

ul {
  padding: 0px;
  gap: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

li {
  display: flex;
}

.tasks-list input[type="checkbox"]:checked {
  margin-right: 1rem;
}
