.Navbar {
    width:100%;
    background-color: lightseagreen;
    .Home {
        
    h1:hover {
        color: white;
    }
        color:rgb(89, 89, 89);
        list-style-type: none;
        text-decoration: none;
    }
}