
.MealList {
    display: flex;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    .Ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        height: 100vw;
        
    }
}