@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap");


.MainSection {
  font-family: '';
  background-color: #eee3cb;
  color: rgb(89, 89, 89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 5rem;
  gap: 3rem;
  box-sizing: border-box;
  width: 100%;
  

  .Title {
    text-decoration: none;
    color: rgb(89, 89, 89);
    transform: scale(3);
  }
  .MainContent {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    width: 100%;
    gap: 2rem;
    padding: 1rem;

    a {
      transform: scale(1.5);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.627);
      color: whitesmoke;
      text-decoration: none;
      &:hover {
      color: #eee3cb;
    }
    }
    
    ul {
      text-decoration: none;
      h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
      }
    }
  }
}
