.MealListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: lightseagreen;
  border-radius: 2%;
  width:10rem;
  transition: 0.25s;


 
  .thumbnail {
    border-radius: 2%;
    width: 100%;

  }


  .title {
    line-height: 1;
    margin: 0 0 0.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}

 .MealListItem:hover {
  transform:scale(1.05);
  border: 2xp solid rgb(89, 89, 89);
  
}
